.divContainer {
    overflow: hidden;
    border: 5px outset red;
    text-align: center;
}

.lineageText {
    font-size: xx-large;
    font-family: system-ui;
}

.imageIndexText {
    font-size: 800%;
}
